<h1>Home</h1>
<br><br>
<div class="row">
  	<div class="col-sm-4 border border-info">
			<label for="selectFilters"><h4 class="text-info">Imagezen</h4></label>
            <div class="border-top">
                <p style="line-height: 1.3090909090909089; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-family: calibri, sans-serif; font-size: 12pt;">The Imagezen is an application that takes an image as input and generates multiple derivative images by using various image transformation and distortion algorithms. OpenCV library was used for the transformation and distortion of images. The user selects a set of transformation functions and distortion algorithms and gives any required parameters. Some function can be repeated with different parameters. As an example, different angles for rotation of image can be requested. The generator produces a set of images (e.g., with each angle of rotation) and then continues to apply the remaining distortions.</span></p>
            <button type="button" class="btn btn-info btn-lg mr-1" onclick="window.location.href = '/about/index';">Learn More</button>
			</div>
  	</div>

	<div class="col-sm-4 border border-info">
    <label ><h4 class="text-info">Download Source Code</h4></label>
    <div class="border-top">
    <p>Download the code for the image generator. You can download the code for the code generator form this website, or you can go to the GitHub page and download the source code to use this application.</p>
    </div>
	<button type="button" class="btn btn-info btn-lg mr-1" onclick="window.location.href = '/code_downloads';">Download</button>
	<br><br>
	</div>
	<div class="col-sm-4 border border-info">
		<h4 class="text-info">Generate Input Text File</h4>
        <div id="text-file-content" class="container border-top">
            <p style="line-height: 1.3090909090909089; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 12pt; font-family: calibri, sans-serif; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The image generator takes an input as a text file which contains all the information it needs. The input file must be in a standard format. The text file will contain:</span></p>
            <ul style="margin-top: 0pt; margin-bottom: 0pt;">
            <li style="list-style-type: disc; font-size: 10pt; font-family: 'Times New Roman'; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span style="font-size: 12pt; font-family: calibri, sans-serif; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The image names that must be fed to the generator</span></li>
            <li style="list-style-type: disc; font-size: 10pt; font-family: 'Times New Roman'; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span style="font-size: 12pt; font-family: calibri, sans-serif; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The number of combinations of filters/functions to be used for the transformations</span></li>
            <li style="list-style-type: disc; font-size: 10pt; font-family: 'Times New Roman'; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span style="font-size: 12pt; font-family: calibri, sans-serif; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">A &nbsp;list of filter/function names with its parameters</span></li>
            </ul>
        </div>
        
		<br>
	<button type="button" class="btn btn-info btn-lg mr-1" onclick="window.location.href = '/text_file/index';" >Generate a Text File</button>
	</div>
</div>


